body{
  background-color: #222;
}

.App {
  max-width: 960px;
  margin:10% auto 0 auto;
  padding:4em 2em;
  background-color:#eee;
  min-height: 720px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-white-space {
    min-height: 8em;
    flex:1 1 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
